<!DOCTYPE html>
<html>

<head>
  <title>Trang chủ</title>
  <!-- Để trang web hiển thị rõ hơn trên điện thoại -->
  <meta charset="utf-8" name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <!-- Ảnh favicon -->
  <link rel="shortcut icon" href="./favicon.ico">
  <!-- Các file CSS -->
  <link rel="stylesheet" href="./w3.css">
  <link rel="stylesheet" href="./style.css">
  <!-- Bộ icon -->
  <script src="./fontawesome.js"></script>
  <!-- Các file JS -->
  <script src="./jquery-3.4.1.min.js"></script>
  <script src="./socket.io/socket.io.js"></script>
  <script src="./main.js"></script>
  <script src="./nipplejs.js"></script>
</head>

<body>
  <input type="text" autofocus style="display:none" />
  <!-- Navbar -->
  <div class="w3-bar w3-blue">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Trang chủ</a>
    <a href="/guide" class="w3-bar-item w3-button w3-mobile">Hướng dẫn</a>
    <a href="/voice" class="w3-bar-item w3-button w3-mobile">Giọng nói</a>
  </div>
  <!-- Password -->
  <div class="w3-container">
    <div class="w3-row">
      <div class="w3-container w3-col" style="width: auto;">
        <p>Password: </p>
      </div>
      <div class="w3-container w3-rest">
        <input type="password" class="w3-input" id="pass" />
      </div>
    </div>
    <!-- Trạng thái ESP -->
    <div class="w3-container">
      <h2>Trạng thái: </h2>
      <p>ESP <span id="status">Offline <i class="fas fa-globe w3-text-red"></i><span></p>
    </div>
    <div class="w3-row">
      <div class="w3-half w3-container">
        <h1>Bảng điều khiển</h1>
        <p>Gửi lệnh:</p>
        <!-- Thêm/bớt lệnh -->
        <p>
          <div class="w3-dropdown-hover">
            <button class="w3-button w3-blue">Thêm <i class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card">
              <button class="w3-bar-item w3-button add-cmd-button" data-cmd="" id="add-cmd">Thêm mới</button>
              <div class="w3-dropdown-hover">
                <button class="w3-bar-item w3-button w3-blue"><span>Đèn <i class="fas fa-caret-right"></i></span></button>
                <div class="w3-dropdown-content w3-bar-block w3-card">
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="led-1-mo">Mở đèn 1</button>
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="led-1-tat">Tắt đèn 1</button>
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="led-2-mo">Mở đèn 2</button>
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="led-2-tat">Tắt đèn 2</button>
                </div>
              </div>
              <div class="w3-dropdown-hover">
                <button class="w3-bar-item w3-button w3-red">Xe <i class="fas fa-caret-right"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card">
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="toi">Xe chạy tới</button>
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="lui">Xe chạy lùi</button>
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="trai">Xe rẽ trái</button>
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="phai">Xe rẽ phải</button>
                  <button class="w3-bar-item w3-button add-cmd-button" data-cmd="dung">Xe dừng</button>
                </div>
              </div>
            </div>
          </div>
          <input type="button" class="w3-button w3-red" value="Bớt" id="remove-cmd">
        </p>
        <!-- Dãy lệnh -->
        <div id="cmd-box"></div>
        <!-- Thanh trượt -->
        <p>Thanh trượt: <span id="angle"></span></p>
        <input type="range" min=0 max=360 value=0 style="width: 100%" id="slider-range" />
      </div>
      <!-- Touchpad -->
      <div class="w3-half w3-container">
        <h1>Touchpad</h1>
        <p><b>Tốc độ</b>: <span id="speed">đứng yên</span></p>
        <input type="range" min=0 max=3 value=0 id="speed-range" />
        <p><b>Tọa độ</b>: x = <span id="x"></span>, y = <span id="y"></span></p>
        <div id="touchpad" style="width: 100%; height: 250px; position: relative; background-color: lightgray"></div>
      </div>
    </div>
    <h1>ESP8266 Log</h1>
    <pre class="w3-code w3-pale-green" id="log"></pre>
  </div>
</body>

</html>